.navbar {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
